.text-blue {
	color: #3F86BA;
}

#main-header {
	background: #3F86BA;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
}

#main-header .main-navigation {
	text-align: right;
}

#main-header .main-navigation ul {
	font-size: 0;
}

#main-header .main-navigation li {
	display: inline-block;
	background: url(../images/nav-separator.png) no-repeat right center;
	font-size: 14px;
	padding: 0 5px;
}

#main-header .main-navigation li:last-child {
	background: none;
}

#main-header .main-navigation a {
	color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 10px 25px;
	border-radius: 4px;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
}

#main-header .main-navigation a:hover,
#main-header .main-navigation a.active-menu {
	background: #3a7aa9;
}

#main-section {
	padding: 100px 0 0;
}

#main-section .content {
	display: none;
}

#main-section .active-content {
	display: block;
}

#main-section .content .code {
	background: #f8f8f8;
	border-radius: 4px;
	padding: 20px;
	position: relative;
}

#main-section .content .code .view-code {
	position: absolute;
	top: 0;
	right: 0;
	background: #DCE4E7;
	padding: 7px 10px;
	border-top-right-radius: 4px;
	cursor: pointer;
	font-size: 12px;
}